.titleBar {
  background-color: #000;
  display: block;
  color: #fff;
  padding-left: 16px;
}

.overview {
  font-size: 14px;
  text-align: left;
  padding-left: 15px;
}

.bttForm {
  width: 80px;
  height: 35px;
  cursor: pointer;
  border-radius: 20px 20px;
  margin-left: 10px;
  display: inline-block;
  left: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
